<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" class="table-responsive">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- 9.8.3 -->
                        <tr *ngFor="let item of transactionModel | transactionOrder">
                            <td style="white-space: normal; word-break: break-all !important;">{{ item.desc }}</td>
                            <td>{{ item.amount | currency:'EUR':true }}</td>
                            <td [class.text-success]="item.type === 'I'" [class.text-danger]="item.type === 'R'">{{ item.type }}</td>
                            <td><button type="button" class="btn btn-danger" (click)="delete( item.uid )"><i class="fa fa-trash"></i>Borrar</button></td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>
